
.main {
    width: 60vw;
    height: 100vh;
    padding-left: 40px;
    float: left;
}

.calendar {
    width: 220px;
    float: right;
}
#selected-date {
    text-align: center;
}

h3 {
    color: #c9302c;
    font-weight: bolder;
}

h4 {
    color: #286090;
    font-weight: bolder;
}

h5 {
    color:#449d44;
    font-weight: bolder;

}
